@font-face {
    font-family: nanum;
    src: url(../font/NanumGothic.ttf);
}

/* resetting default */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: nanum, sans-serif;
    background-image: url(../img/backgroundimage.jpg);
    background-size: cover;
}

input {
    display: inherit;
}

h1, h2 {
    margin: 0;
}

/* containers */

.page-container {
    position: relative;
    min-height: 100vh;
}

.main-container {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

/* header */

#search {
   height:30px; 
}

.title {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    line-height: 50px;
    height: 120px;
    background-color: rgb(46, 40, 40);
    color: ivory;
    margin-bottom: 15px;
}

.title h1 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-shadow: rgb(228, 91, 91) 5px 5px;
}

input#search {
    background-image: url(../img/Icons/search-14-48.png);
    background-repeat: no-repeat;
    background-size: 1.125rem;
    text-indent: 20px;
    width: 12.5rem;
}

.saved-memes {
    margin-left: 30px;
}

/* gallery */

.gallery {
    margin-bottom: 7rem;
}

.thumbnails {
    height: 200px;
    width: 200px;
    margin: 5px;
    cursor: pointer;
}

/* meme controller */

.meme-editor {
    grid-template-columns: 1.6fr 1.4fr;
    grid-template-areas: "cnvs-cont meme-edit-cntrl";
    margin-bottom: 6.5rem;
}

.meme-editor-controller {
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(46, 40, 40);
    color: ivory;
}

.meme-editor-close {
    align-self: flex-end;
    margin: 5px;
}

.text {
    height: 38px;
}

#line-text {
    margin-left: 13px;
    margin-right: 10px;
    height: 22px;
}

.background-color-image, .border-color-image {
    margin-right: 10px;
}

.switch-line-up {
    padding-right: 20px;
}

.text, .switch, .font-size, .move-line, .line-position {
    margin-bottom: 15px;
}

.canvas-container {
    grid-area: cnvs-cont;
}

.meme-editor-controller {
    grid-area: meme-edit-cntrl;
}

.meme-editor-controller img {
    height: 30px;
    width: 30px;
}

.border-color-input, .background-color-input {
    height: 30px;
    width: 100px;
    margin-bottom: 15px;
}

input[type="color"] {
    background-color: transparent;
    border: none;
}

.download-button {
    padding-left: 5px;
}

.save {
    padding-left: 20px;
}

/* my-memes page */

.no-saved-memes {
    height: 300px;
}

.my-memes {
    margin-bottom: 7rem;
}

.my-memes-page {
    grid-template-columns: 1.6fr 1.4fr;
    grid-template-areas: "my-meme my-meme-controller";
}

.my-meme-controller {
    margin-left: 10px;
    background-color: rgb(46, 40, 40);
    color: ivory;
    border-radius: 25px;
    height: 500px;
}

.my-memes-nav {
    padding-top: 6.25rem;
    padding-bottom: 5.625rem;
}

.prev-meme {
    padding-right: 20px;
}

.my-memes-share-delete:not(:last-child) {
    padding-right: 20px;
}

.meme-controller-close {
    align-self: flex-end;
    justify-self: flex-end;
    margin: 15px;
}

.my-meme-controller img {
    height: 35px;
    width: 35px;
}

/* footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 5.4rem;
    background-color: rgb(46, 40, 40);
    color: ivory;
}

small {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.25em;
    font-weight: 700;
    text-shadow: rgb(228, 91, 91) 2px 2px;
}

.social-links {
    width: 220px;
    height: 40px;
}

.social-logo {
    width: 40px;
    height: 40px;
}

.fa-facebook-f {
    padding: 13px 16px;
    color: white;
}

.fa-linkedin-in {
    padding: 13px 14px;
    color: white;
}

.social-logo:hover {
    background-color: #516fad;
}

.social-logo:nth-child(2):hover {
    background-color: #0e76a8;
}

.social-logo:nth-child(3):hover {
    background-color: darkred;
}

.social-logo:not(:last-child) {
    margin-right: 20px;
}

/* view helpers */

.grid {
    display: grid;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* style helpers */

.pointer {
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
}

/* mobile view */

@media (max-width: 576px) {
    html {
        font-size: 15px;
    }
    .title {
        font-size: 0.9em;
        height: 130px;
        text-shadow: rgb(228, 91, 91) 2px 2px;
    }

    .page-container {
        min-height: 90%;
        height: 100%;
    }
    
    /* gallery */

    .gallery {
        min-height: 600px;
    }

    .thumbnails {
        height: 100px;
        width: 100px;
    }
    /* canvas */
    #main-canvas {
        width: 300px;
        height: 300px;
    }

    /* my-memes page */

    .no-saved-memes {
        margin-top: 10px;
        /* margin-bottom: 300px; */
    }
    
    .my-memes-page {
        grid-template-columns: 1fr;
        grid-template-areas: "my-meme" "my-meme-controller";
    }

    .my-meme {
        height: 300px;
        width: 300px;
        margin-bottom: 10px;
    }
    
    .my-memes-nav {
        padding-top: 0;
        padding-bottom: 1.5rem;
    }

    .my-meme-controller {
        margin-left: 10px;
        background-color: rgb(46, 40, 40);
        color: ivory;
        border-radius: 25px;
        height: 200px;
    }

    /* my meme gallery */

    .my-memes-gallery {
        height: 522px;
    }

    /* meme-controller */
    .meme-editor-controller img {
        height: 25px;
        width: 25px;
    }

    .meme-editor {
        grid-template-columns: 1fr;
        grid-template-areas: "cnvs-cont" "meme-edit-cntrl" "meme-edit-cntrl"
    }

    .meme-editor-close {
        align-self: center;
    }

    /* footer */

    .footer {
        margin-top: 10px;
        /* position: absolute; */
        height: 7rem;
    }
}